<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <span> If you dont have an account? <a routerLink="/register">register</a> here.</span>
  </mat-card-actions>
</mat-card>