* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.user-section {
    margin-left: auto;
}

.logo {
    background-image: Url("assets/images/logo2.jpg");
    height: 50px;
    width: 50px;
    background-size: contain;
    background-image: no-repeat;
    border-radius: 50%;
}