<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="" class="logo"></a>
    <a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/products" routerLinkActive="active-link">Products</a>
    <div class="user-section">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #menu="matMenu">
          <a mat-button routerLink="/login" style="color: black;" *ngIf="!user" routerLinkActive="active-link">Login</a>
          <a mat-button (click)="logout()" style="color: black;" *ngIf="user" routerLinkActive="active-link">Logout</a>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>