<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="" class="logo"></a>
    <a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/products" routerLinkActive="active-link">Products</a>
    <a mat-button *ngIf="!user" routerLink="/login" routerLinkActive="active-link">Login</a>
    <div *ngIf="user">
        <a mat-button>
          <mat-icon>account_circle</mat-icon>{{user.fullName}}
        </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>